<div class="container">
  <div class="action-container">
    <div *ngIf="search" class="search-box-container">
      <input
        type="text"
        placeholder="Search image by title"
        [(ngModel)]="searchValue"
      />

      <div class="button" (click)="onSearchClick()">Search</div>
    </div>

    <div *ngIf="sorting" class="sort-container">
      <label>Sort by: </label>

      <select
        [ngModel]="sortValue"
        (ngModelChange)="onSortChange($event)"
        name="sortValue"
      >
        <option value=""></option>

        <option value="title">Title</option>

        <option value="date">Date</option>
      </select>
    </div>
  </div>

  <div class="slideShow">
    slideShow!
  </div>

  <div class="images">
    <app-image
      *ngFor="let image of filteredImages"
      [title]="image?.title"
      [url]="image?.url"
      [date]="image?.date"
    ></app-image>
  </div>
</div>
