.container {
  .action-container {
    padding: 1vh 0 1vh 0;
    display: flex;

    .search-box-container {
      display: flex;
      flex: 0 0 50%;

      .button {
        background-color: cornsilk;
        border: 1px solid black;
      }

      .button:hover {
        cursor: pointer;
      }
    }

    .sort-container {
      flex: 0 0 50%;
    }

  }

  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;

    app-image {
      flex: 0 0 23%;
      margin: 0.5% 0 0.5% 0;
    }

    app-image:hover {
      cursor: pointer;
    }
  }

  ngu-carousel {
    text-align: center;
    width: 60%;
    margin: 0 auto;

    ngu-tile {
      ::ng-deep {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 25vh;
        }
      }
    }
  }
}
